# Node modules
node_modules/

# Archivos de entorno
.env

# Logs
logs/
*.log

# Archivos de sistema
.DS_Store
Thumbs.db

# Salida de dependencias nativas
npm-debug.log*
yarn-debug.log*
yarn-error.log*